html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana;
	font-size: 14px;
	background-color: #182b38;
	color: #ffffff;
	overflow: hidden;
}

.project_selection_box {
	max-width: 600px;
	width: 80%;
	padding: 30px;
	background-color: #162229;
	border: 1px solid #201c10;
	position: absolute;
	top: 34%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project_selection_box label {
	display: block;
	margin-top: 14px;
}

.main_button {
	color: #132937;
	background-color: #f5c527;
}

.logo {
	width: 100%;
}

.editable_ui,
.editable_ui * {
	cursor: grab;
}
.editable_ui_dragging,
.editable_ui_dragging * {
	cursor: grabbing;
}

.editable_ui input, .editable_ui select, .editable_ui .radio_group {
	background-color: red !important;
	color: red !important;
}

.editable_ui button {
	background-color: red !important;
	color: #000000 !important;
}

#drag_clone {
	position: absolute;
	z-index: 888;
	background-color: #eeeeee70;
	cursor: grabbing;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

/* popup styling */
#popup {
	position: absolute;
	z-index: 888;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #13293760;
	padding: 40px;
	box-sizing: border-box;
}
.popup_inner {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	height: calc(100vh - 80px);
}
.popup_title_bar {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}
.popup_title_bar > div {
	font-size: 24px;
	padding: 8px;
}
.popup_title {
	float: left;
}
.popup_title_bar .popup_close {
	float: right;
	cursor: pointer;
	padding: 8px 16px;
}
#popup_form_data {
	height: calc(100vh - 190px);
	background-color: #132937;
	padding: 12px 24px;
	margin: 0;
	overflow-y: auto;
}
#popup_form_data label,
#popup_form_data .spanlabel {
	display: block;
	padding-top: 10px;
}
.path_var_container label {
	padding-top: 0 !important;
}
#popup_form_data input[type="text"],
#popup_form_data input[type="color"],
#popup_form_data input[type="number"],
#popup_form_data input[type="file"],
#popup_form_data input[type="checkbox"],
#popup_form_data textarea,
#popup_form_data select {
	margin-bottom: 0;
}
.popup_save_bar {
	background-color: #000000;
	padding: 8px;
	text-align: right;
}

/* notification secondary popup */
#popup .notification {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	width: 400px;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #162229;
	border: 1px solid #201c10;
	color: #132937;
	border-radius: 3px;
	filter: drop-shadow(0 0 20px #132937);
}

#popup .notification .notification_message {
	color: #ffffff;
	padding-bottom: 20px;
}

/* file sub menu */
#popup .file_dropdown {
	position: absolute;
	top: 54px;
	left: 0;
	width: 220px;
	background-color: #000000;
	color: #ffffff;
	border-bottom: 2px solid #201c10;
}

#popup .file_dropdown .dropdown_action {
	padding: 8px 2px;
	text-align: center;
	background-color: #132937;
	border-bottom: 1px solid #201c10;
	font-size: 14px;
	cursor: pointer;
}

#popup .file_dropdown .dropdown_save {
	background-color: #39b3b5;
}

/* variable path input styling */
.variable_set_input {
	position: relative;
	font-size: 16px;
	border-radius: 3px;
	background-color: #333333;
}

.variable_set_input_field {
	padding: 12px 16px;
	background-color: #132937;
	border: 1px solid #000000;
	color: #ffffff !important;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	min-height: 46px;
	border-radius: 3px;
	float: left;
}

.has_path_insert {
	width: calc(100% - 73px);
	max-width: calc(800px - 73px);
	border-radius: 3px 0 0 3px;
	border-right: none;
}

.path_var_container {
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
	text-align: right;
	font-size: 14px;
	background-color: #000000;
	color: #ffffff;
	padding: 4px 10px 4px 10px;
	border-radius: 0 0 3px 3px;
}

.variable_input_clear {
	position: absolute;
  left: -11px;
  top: 15px;
  background-color: #777777;
  padding: 0px 8px 1px 8px;
  font-size: 10px;
  border-radius: 0 2px 2px 0;
  filter: drop-shadow(0 0 2px #201c10);
	cursor: pointer;
}

.variable_input_path_only_depth_value {
	display: inline-block;
  width: 40px;
  height: 16px;
  font-size: 12px;
  margin: 0 0 0 10px;
  padding: 0px 8px;
}

.forcing_path_indicator {
	background-color: #005b96 !important;
}

.path_variable_entry {
	background-color: #005b96;
	color: #b3cde0;
	font-style: italic;
	padding: 2px 8px;
}

.path_var_container input[type="checkbox"] {
	width: 14px;
	height: 14px;
	margin: 0;
	position: relative;
	top: 1px;
}

.path_insert_button {
	background-color: #f5c527;
	color: #132937;
	padding: 12px 16px;
	text-align: center;
	box-sizing: border-box;
	width: 73px;
	border-radius: 0 3px 3px 0;
	text-align: center;
	border: 1px solid #000000;
	float: left;
	border-left: none;
	cursor: pointer;
}

.path_insert_button_is_reference_path {
	background-color: #05828e !important;
}

.close_path_selection_editor {
	background-color: red;
}

#path_selection_dialog {
	position: absolute;
	top: 46px;
	width: 100%;
	max-width: 800px;
	max-height: 240px;
	overflow-y: auto;
	background-color: #f5c527;
	border: 1px solid #000000;
	color: #132937;
	border-top: none;
	z-index: 1;
	box-sizing: border-box;
	padding: 12px 16px;
}

.path_selection_dialog_path_only {
	background-color: #05828e !important;
	color: #000000 !important;
}

#path_selection_dialog > div {
	cursor: pointer;
}
#path_selection_dialog .path_selection_element_set,
#path_selection_dialog .path_selection_element_extend {
	width: 100%;
	padding: 4px 0 4px 0;
}

#path_selection_dialog .path_selection_element_extend:hover {
	background-color: #cccccc80;
}

.key_value_input_pair {
	background-color: #163141;
	padding: 6px 12px;
	margin-top: 16px;
}

/* navigation styling */
.navigation {
	width: 100%;
	height: 54px;
	position: relative;
	background-color: #132834;
}

.project_title {
	background-color: #39b3b5;
	border-bottom: 1px solid #f5c527;
	color: #080b11;
	padding: 0 12px;
	height: 21px;
	overflow: hidden;
	width: 90%;
	clip-path: polygon(0% 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
	position: absolute;
	left: 0;
	top: 0;
}
#project_title {
	font-weight: bold;
}

.navigation_logo {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(20% + 32px);
	height: 54px;
	overflow: hidden;
	clip-path: polygon(32px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.navigation_logo img {
	width: 110%;
	margin: -12% 0;
}

.navigation_offset_block {
	height: 21px;
}

.navigation_element {
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	padding: 8px 16px;
	margin: 0 4px;
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #080b11;
	border-bottom: 3px solid #000000;
	cursor: pointer;
}

.active_navigation {
	background-color: #201c10;
	color: #ffffff;
	cursor: default;
	height: 34px;
	position: relative;
	z-index: 1;
	top: 1px;
	border-left: 1px solid #fee99236;
	border-right: 1px solid #fee99236;
	border-bottom: none;
}

.nav_break {
	float: left;
	width: 80px;
	height: 33px;
}

#main {
	width: 100%;
	height: calc(100% - 54px);
	overflow: auto;
}

.block {
	box-sizing: border-box;
	width: 100%;
	padding: 8px 16px !important;
	background-color: #201c10;
	border: 1px solid #fee99236;
	position: relative;
}

label {
	color: #ededed;
}

#image_editor label {
	color: #132937;
	font-size: 12px;
}

#image_editor .path_var_container label {
	color: #ffffff;
	font-size: 12px;
}

.ui_field_above {
	position: absolute;
	top: 0;
	right: 0;
}

.data_key_block {
	box-sizing: border-box;
	width: 100%;
	padding: 12px 4px 0 28px;
	background-color: #201c10;
	border: 1px solid #cccccc;
	border-top: none;
	border-bottom: none;
	border-radius: 3px;
}

.data_key_block input {
	margin-bottom: 0 !important;
}

.remove_data_key {
	display: inline-block;
	padding: 4px 8px;
	background-color: red;
	color: #ffffff;
	cursor: pointer;
	line-height: 1em;
	font-size: 12px;
}

.create_data_key {
	display: inline-block;
	padding: 4px 8px;
	background-color: #05828e;
	color: #ffffff;
	cursor: pointer;
	line-height: 1em;
	font-size: 12px;
}

/* form styles */
input[type="text"], input[type="color"], input[type="number"], input[type="file"], input[type="checkbox"], textarea, select {
	width: 100%;
	padding: 8px 12px;
	font-size: 11px;
	display: inline-block;
	border: 1px solid #0e151a;
	background-color: #dcdcdc;
	border-radius: 3px;
	color: #000000;
	box-sizing: border-box;
	margin-bottom: 16px;
}

input[type="file"] {
	padding: 9px 20px;
}

select {
	background-color: #dcdcdc;
}

input[type="checkbox"] {
	height: 18px;
	width: 18px;
}

input[type="radio"] {
	background-color: #dcdcdc;
}

button, input[type="submit"] {
	display: inline-block;
  background-color: #05828e;
	border: 1px solid #0e151a;
  padding: 12px 24px;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.ui_edit_menu {
	width: 200px;
	color: #000000;
	background-color: #cccccc;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
	position: absolute;
	z-index: 888;
}
.ui_edit_menu > div {
	box-sizing: border-box;
	border-bottom: 1px solid #bbbbbb;
	padding: 8px 12px;
	cursor: pointer;
}
.ui_edit_menu > div:last-child {
	border: none;
}
.ui_edit_menu .ui_edit_menu_cancel {
	background-color: #132937;
	color: #ffffff;
}
.ui_edit_menu .ui_edit_menu_title {
	background-color: #132937;
	color: #ffffff;
	cursor: default;
}
.ui_edit_menu .ui_edit_menu_remove {
	background-color: red;
	color: #ffffff;
}
.ui_edit_menu .ui_edit_menu_save {
	background-color: #05828e;
	color: #ffffff;
}

.radio_group {
	background-color: #132937;
	padding: 10px 4px 10px 4px;
	margin-bottom: 16px;
}

.small_button {
	padding: 6px 16px;
	background-color: #f5c527;
	border-radius: 0 0 0 3px;
	color: #000000;
}

.small_button_green {
	padding: 8px 16px;
}

.remove_button {
	background-color: red;
}

#structure_list {
	padding: 20px;
	background-color: #132937;
	border: 1px solid #fee99236;
}

.dataset_entry {
	background-color: #163141;
	border: 1px solid #fee99236;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.dataset_entry_title {
	background-color: #132937;
	cursor: pointer;
	padding-left: 4px;
	min-height: 20px;
}

.selection_list_block {
	padding: 14px;
	margin-bottom: 4px;
	background-color: #0e151a;
	border: 1px solid #fee99236;
	box-sizing: border-box;
	cursor: pointer;
}

.asset_preview {
	max-width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	background-color: #cccccc;
}

.asset_preview img {
	max-width: 100%;
	border-radius: 5px;
}

/* basic templating */
.row:before,
.row:after {
	display: table;
	content: "";
}
.row:after {
	clear: both;
}
.col {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;
	box-sizing: border-box;
	overflow-wrap: anywhere;
}

/* ajax auto loader styles */
.contains_loader {
	position: relative;
}
#ajax_loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #cccccc90;
	text-align: center;
}
#ajax_loader img {
	max-width: 100%;
	max-height: 100%;
}

#image_editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 101;
	background-color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#image_editor .editor_info_bar {
	box-sizing: border-box;
	padding: 4px;
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	height: 24px;
	overflow: hidden;
}

#image_editor .editor_info_bar:after {
	display: table;
	content: "";
	clear: both;
}

#image_editor .editor_save {
	background-color: #05828e;
	color: #ffffff;
	padding: 4px 8px;
	margin: -4px 0;
	float: right;
	cursor: pointer;
}

#image_editor .editor_close {
	background-color: red;
	color: #ffffff;
	padding: 4px 8px;
	margin: -4px -4px -4px 0;
	float: right;
	cursor: pointer;
}

#image_editor .editor_tab {
	background-color: #132937;
	border-right: 1px solid #000000;
	color: #ffffff;
	padding: 4px 8px;
	margin: -4px 0;
	float: right;
	cursor: pointer;
}

#image_editor .image_editor_workspace {
	width: calc(100% - 360px);
	height: calc(100% - 24px);
	background-color: #05828e;
	position: relative;
}

#image_editor .layer_editor {
	position: absolute;
	top: 24px;
	right: 0;
	width: 360px;
	height: calc(100% - 24px);
	background-color: #cccccc;
}

#image_editor #workspace {
	width: 100%;
	height: 100%;
}

#image_editor #upper_editor {
	height: 50%;
}

#image_editor #lower_editor {
	height: calc(50% - 24px);
}

#image_editor .layer_manager {
	height: 24px;
	position: relative;
	background-color: #666666;
	color: #ffffff;
	border-left: 2px solid #132937;
	font-size: 14px;
}

#image_editor #upper_editor,
#image_editor #lower_editor {
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	background-color: #dddddd;
	border-left: 2px solid #132937;
}

#image_editor #upper_editor {
	color: #132937;
	padding: 4px;
}

#image_editor #upper_editor input,
#image_editor #upper_editor select {
	background-color: #132937;
	color: #ffffff;
	margin-bottom: 0;
}

#image_editor #upper_editor > label > input,
#image_editor #upper_editor > label > select {
	margin-bottom: 10px;
}

#image_editor #upper_editor label,
#image_editor #upper_editor .editor_spanlabel {
	font-size: 14px;
}

#image_editor #lower_editor .editor_layer {
	background-color: #132937;
	color: #ffffff;
	text-align: center;
	padding: 8px 12px;
	border-bottom: 1px solid #333333;
	cursor: pointer;
}

#image_editor #lower_editor .editor_layer span {
	pointer-events: none;
}

#image_editor #lower_editor .editor_layer .editor_layer_group {
	min-height: 20px;
	margin-left: 8px;
	border-left: 2px solid #888888;
	border-top: 2px solid #888888;
}

#image_editor #lower_editor .active_editor_layer {
	background-color: #388ff9;
	color: #132937;
}

#image_editor #upper_editor .editor_section_block {
	border: 1px solid #132937;
	position: relative;
	padding: 3px;
	margin-bottom: 10px;
}

#image_editor #upper_editor .editor_section_title {
	padding: 0 4px;
	background-color: #dddddd;
	font-size: 12px;
	position: absolute;
	top: -10px;
	left: 4px;
}

#image_editor .layer_manager .layer_manager_title {
	position: absolute;
	left: 5px;
	top: 3px;
}	

#image_editor .layer_manager .layer_manager_add {
	position: absolute;
	right: 5px;
	top: 3px;
	cursor: pointer;
}	

.color_picker {
	border: 1px solid #132937;
	height: 31px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
}